<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />


  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <link href="/public/css/font-awesome.min.css" rel="stylesheet" />


  <link href="/public/css/style.css" rel="stylesheet" />

  <link href="/public/css/responsive.css" rel="stylesheet" />
    <title>Cart</title>
<style>
    .icon-hover-primary:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
}

.icon-hover-primary:hover i {
  color: #3b71ca !important;
}
.icon-hover-danger:hover {
  border-color: #dc4c64 !important;
  background-color: white !important;
}

.icon-hover-danger:hover i {
  color: #dc4c64 !important;
}
</style>

</head>
<body>
    <header>
        <!-- Jumbotron -->
        <div class="p-3 text-center bg-white border-bottom">
          <div class="container">
            <div class="row gy-3">
              <!-- Left elements -->
              <div class="col-lg-2 col-sm-4 col-4">
                <a class="navbar-brand" href="#">
                    <span style="color: black">
                      Arabian Food Court
                    </span>
                  </a>
              </div>
              <!-- Left elements -->
      
              <!-- Center elements -->
              <div class="order-lg-last col-lg-5 col-sm-8 col-8">
                <div class="d-flex float-end">
                  <!-- <a href="" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                    <i class="fas fa-user-alt m-1 me-md-2"></i>
                    <p class="d-none d-md-block mb-0">Sign in</p>
                  </a> -->
                  <a href="#" class="me-1 border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                    <i class="fas fa-heart m-1 me-md-2"></i>
                    <p class="d-none d-md-block mb-0">Wishlist</p>
                  </a>
                  <a href="/getCartPage" class="border rounded py-1 px-3 nav-link d-flex align-items-center" target="_blank">
                    <i class="fas fa-shopping-cart m-1 me-md-2"></i>
                    <p class="d-none d-md-block mb-0">Wishlist</p>
                  </a>
                </div>
              </div>
              <!-- Center elements -->
      
              <!-- Right elements -->
              <div class="col-lg-5 col-md-12 col-12">
                <div class="input-group float-center">
                  <div class="form-outline">
                    <!-- <input type="search" id="form1" class="form-control" />
                    <label class="form-label" for="form1">Search</label> -->
                  </div>
                  <!-- <button type="button" class="btn btn-primary shadow-0">
                    <i class="fas fa-search"></i>
                  </button> -->
                </div>
              </div>
              <!-- Right elements -->
            </div>
          </div>
        </div>
        <!-- Jumbotron -->
      
        <!-- Heading -->
        <div class="bg-light">
          <div class="container py-4">
            <!-- Breadcrumb -->
            <nav class="d-flex">
              <h6 class="mb-0">
                <a href="/userHomePage" class="text-blue-50">Home</a>
                <span class="text-black-50 mx-2"> > </span>
                <a href="" class="text-black"><u>Whish List</u></a>
              </h6>
            </nav>
            <!-- Breadcrumb -->
          </div>
        </div>
        <!-- Heading -->
      </header>
      
      <!-- cart + summary -->
      <section class="bg-light my-5">
        <div class="container">
          <div class="row">
            <!-- cart -->
            <div class="col-lg-9">
              <div class="card border shadow-0">
                <div class="m-4">
                  <h4 class="card-title mb-4">Wishlist</h4>
                  <% if (cart && cart.items.length > 0) { %>
                    <% cart.items.forEach(item => { %>
                      <div class="cart-item" data-item-id="<%= item._id %>">
                        <div class="row gy-3 mb-4">
                          <div class="col-lg-5">
                            <div class="me-lg-5">
                              <div class="d-flex">
                                <img src="/public/<%= item.product.images[0] %>" class="border rounded me-3" style="width: 96px; height: 96px;" />
                                <div class="">
                                    <a href="/user/singleProductView/<%= item.product._id %>" class="nav-link"><%= item.product.productname %></a>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                          </div>
                          <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2">
                            <div class="float-md-end">
                              <button class="remove-item-btn btn btn-outline-danger" data-item-id="<%= item._id %>">Remove</button>
                              <button class="btn btn-outline-dark" onclick="addToCart('<%= item.product._id %>')">Add To Cart</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <% }) %>
                  <% } else { %>
                    <p>Your Whish list is empty.</p>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contact Us
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 9895089017
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  2009shafeeq@gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Arabian Food Court
            </a>
            <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
            </p>
            <div class="footer_social">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Opening Hours
          </h4>
          <p>
            Everyday
          </p>
          <p>
            10.00 Am -10.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="">ShafeeqSoft Pvt.LTD</a><br><br>
          &copy; <span id="displayYear"></span> Developed By
          <a href="" target="_blank">ShafeeqMtp</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->



  <script src="/public/js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="/public/js/bootstrap.js"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="/public/js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->   
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
  const quantityControls = document.querySelectorAll('.quantity-control');

  quantityControls.forEach(control => {
    const minusBtn = control.querySelector('.minus');
    const plusBtn = control.querySelector('.plus');
    const input = control.querySelector('.quantity-input');
    const cartItem = control.closest('.cart-item');
    const itemId = cartItem.dataset.itemId;
    const priceElement = cartItem.querySelector('.price-value');
    const originalPrice = parseFloat(priceElement.textContent) / parseInt(input.value);

    minusBtn.addEventListener('click', () => updateQuantity(-1));
    plusBtn.addEventListener('click', () => updateQuantity(1));

    function updateQuantity(change) {
      let newQuantity = parseInt(input.value) + change;
      const maxQuantity = 5;
      const minQuantity = 1;

      if (newQuantity > maxQuantity) {
        Swal.fire({
          icon: 'warning',
          title: 'Maximum Quantity Reached',
          text: 'You can only order up to 5 units of this item.',
        });
        return;
      }

      newQuantity = Math.max(minQuantity, Math.min(newQuantity, maxQuantity));

      updateCartOnServer(itemId, newQuantity)
        .then(response => {
          if (response.success) {
            input.value = newQuantity;
            const newPrice = originalPrice * newQuantity;
            priceElement.textContent = newPrice.toFixed(2);
            updateTotalPrice();
          } else {
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: response.message || 'Failed to update quantity',
            });
          }
        })
        .catch(error => {
          console.error('Error updating cart:', error);
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'An error occurred while updating the cart',
          });
        });
    }
  });

  function updateCartOnServer(itemId, quantity) {
    return fetch('/update-cart-quantity', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ itemId, quantity }),
    })
    .then(response => response.json());
  }

  function updateTotalPrice() {
    const priceElements = document.querySelectorAll('.price-value');
    const total = Array.from(priceElements).reduce((sum, el) => sum + parseFloat(el.textContent), 0);
    document.getElementById('cart-total').textContent = total.toFixed(2);
  }
});


// Keep the existing remove item script
document.querySelectorAll('.remove-item-btn').forEach(button => {
  button.addEventListener('click', function() {
    const itemId = this.getAttribute('data-item-id');
    Swal.fire({
      title: 'Are you sure?',
      text: "Do you want to remove this item from your cart?",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, remove it!'
    }).then((result) => {
      if (result.isConfirmed) {
        fetch('/remove-cart-item', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ itemId: itemId }),
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            Swal.fire(
              'Removed!',
              'Item has been removed from your cart.',
              'success'
            ).then(() => {
              // Refresh the page after removing the item
              window.location.reload();
            });
          } else {
            Swal.fire(
              'Error!',
              data.message,
              'error'
            );
          }
        })
        .catch(error => {
          console.error('Error:', error);
          Swal.fire(
            'Oops!',
            'An error occurred while removing the item.',
            'error'
          );
        });
      }
    });
  });
});

async function addToCart(productId, quantity) {
      try {
        const response = await fetch('/postCartPage', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ productId: productId, quantity: quantity }),
        });
  
        if (response.ok) {
          const result = await response.json();
          Swal.fire({
            title: 'Success!',
            text: result.message,
            icon: 'success',
            timer: 1000,
            showConfirmButton: false,
          });
        } else {
          const result = await response.json();
          Swal.fire({
            title: 'Error!',
            text: result.message,
            icon: 'error',
          });
        }
      } catch (error) {
        Swal.fire({
          title: 'Error!',
          text: 'Something went wrong.',
          icon: 'error',
        });
      }
    }

</script>

</body>
</html>